/*-----------------------------------------------------------------------------------------*/
/*                                        ABOUT ME                                         */
/*-----------------------------------------------------------------------------------------*/
#about-page{
    display: none;
}

/*--------------------------------------- Basic Info --------------------------------------*/

.about-me .basic-intro{
    margin-bottom: 40px;
}
.about-me .basic-intro h3{
    font-size: 25px;
    color:#302e4d;
    margin-bottom: 15px;
}
.about-me .basic-intro p{
    color:#7d7d7d;
}

/*-------------------------------------- Info Wrapper -----------------------------------------*/

.about-me .info-wrapper{
    display:flex;
    flex-direction: row;
}

/*--------------------------------- Left Section ------------------------------------*/

.about-me .info-wrapper .left-section{
    margin-bottom: 50px;
    margin-right: 0px;
}
.about-me .info-wrapper .left-section .personal-wrapper{
    display: flex;
    flex-direction: row;
}
.about-me .info-wrapper .left-section .personal-wrapper .personal-info{
    margin-right:25px;
}
.about-me .info-wrapper .left-section .personal-wrapper .personal-info p{
    font-size: 16px;
    color:#302e4d;
    font-weight: 700;
    width: 270px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #e8dfec;
    margin:10px 0px 10px 0px;
    margin-right:0px
}
.about-me .info-wrapper .left-section .personal-wrapper .personal-info p span{
    color:#7d7d7d;
    font-weight: 300;
}


/*--------------------------------- Right Section ------------------------------------*/

.about-me .info-wrapper .right-section{
    width: 100%;
    margin: 0px 20px 20px 0px;
}
.about-me .info-wrapper .right-section .skills-wrapper{
    font-size: 16px;
    color:#302e4d;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.about-me .info-wrapper .right-section .skills-wrapper p{
    float: left;
    width: 100%;
}
.about-me .info-wrapper .right-section .skills-wrapper p span{
    color: #7d7d7d;
    font-size: 16px;
    float: right;
}


.about-me .info-wrapper .right-section .skills-wrapper .skill-container{
    margin: 40px 0px 10px 0px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
}

.skill-progress {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 5px;
  }
  
.skill1 {width: 76%;}
.skill2 {width: 90%;}
.skill3 {width: 80%;}
.skill4 {width: 60%;}

@media screen and (max-width: 1156px) {
    .about-me .info-wrapper {
        display: block;
     }
    .about-me .info-wrapper .left-section{
        padding-right: 0px;
    }
     .about-me .info-wrapper .right-section{
        padding-right:20px;
    }
    .about-me .info-wrapper .left-section .personal-wrapper .personal-info{
        width:50%;
    }
    .about-me .info-wrapper .left-section .personal-wrapper .personal-info p{
        width: 350px;
    }
}

/*---------------------------------- Eduction Experience ----------------------------------*/

.edu-exp-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.edu-exp{
    width: 50%;
    cursor: pointer;
}
.edu-exp-inner{
    background-color: #fdf9ff;
    margin: 20px 40px 0px 0px;
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}
.edu-exp-inner:hover{
    -webkit-box-shadow: 0 0 20px rgba(48,46,77,0.50) ;
    box-shadow: 0 0 20px rgba(48,46,77,0.50) ;
}
.edu-exp-details{
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 16px;
}
.edu-exp-details *{
    margin-bottom: 5px;
}