#youtube-page{
    display: none;
}
.youtube-description{
    margin-bottom: 20px;
}
/* .video-wrapper{
    margin-top:30px;
} */
.video-wrapper .video-card{
    background-color: #fdf9ff;
    margin: 50px 0px 0px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100%;
    cursor: pointer;
    display: flex;
    flex-direction:row;
}
.video-wrapper .video-card .video iframe{
    width: 360px;
    height: 202px;
}
.video-wrapper .video-card .video-description{
    padding: 20px;
    font-size:15px;
}
.video-wrapper .video-card .video-description h3{
    font-size:22px;
    font-weight: 1000;
    color:#302e4d;
    margin-bottom:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #e8dfec;
}
.video-wrapper .video-card .video-description ul{
    margin-top:10px;
    list-style: none;
}
.video-wrapper .video-card .video-description ul li .time{
    font-weight: 600;
}
.video-wrapper .video-card .video-description ul li .approach{
    font-weight: 500;
    color:#302e4d;
}